# {{ ansible_managed }}
RESTIC_REPOSITORY={{ vault_restic_repository }}
RESTIC_PASSWORD={{ vault_restic_password }}
{% for k, v in (vault_restic_env | default({})).items() %}
{{ k }}={{ v }}
{% endfor %}
